$fuentePrincipal : 'Montserrat', sans-serif;

//colore
$verde : #4cb8b3;
$rosa : #f53756;
$amarillo : #fef46d;
$morado: #752f97;
$negro: black;
$blanco: white;


//mediaqueries


//fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;

//separaciones
$separacion: 5rem;